# Python environment
venv/
__pycache__/

# Node for frontend
frontend/node_modules/

# Dataset (exclude)
data/raw/
data/train/
data/valid/
data/test/

# Model weights (tracked using LFS if needed)
*.pt

# Temporary files
*.zip

# Cache folders
runs/
